:root {
    --black: #151500;
    --gold: #FFBB00;
    --old-gold: #CC9900;
    --graphite: #3C3C3C;
    --graphite-dark: #222;
    --white: #FFFFFF;
    --gray: #DDDDDD;
}

* {
    font-family: proxima-nova, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: var(--white);
    color: var(--white);
}

header {
    background-color: var(--black);
    padding: 20px;
}

h1 {
    margin: 0;
    color: var(--white);
    font-family: kandal, serif;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: var(--white);
    text-decoration: none;
}

nav ul li a:hover {
    color: gold;
}

/* profile-header */
main {
    padding: 20px;
}

h2, h3, h4, h5 {
    color: var(--black);
}

#profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#profile-header img {
    width: 100px;
    border-radius: 50%;
}

#info {
    margin-left: 20px;
}

#info h2 {
    color: var(--graphite)
}

#info h3 {
    color: gray;
}

#button-div {
    margin-left: auto;
}

#follow-button, #edit-button {
    background-color: var(--gold);
    color: var(--black);
    border: none;
    padding: 15px 32px;
    font-size: 24px;
}

/* posts */
#posts {
    border: 1px solid black;
    margin-top: 25px;
}

.post {
    border: 1px solid gray;
    margin: 20px;
    padding: 0 10px;
}

.post p {
    color: var(--black);
    padding: 10px;
}

.post-info {
    display: flex;
    justify-content: space-between;
}

footer {
    margin-top: auto;
    background-color: var(--black);
    padding: 10px;
    text-align: center;
    color: var(--white);
}