.group-chat-container {
    width: 100%;
    display: flex;
}

.group-chat-item {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.group-chat-item > img {
    border-radius: 0.8rem;
}

.chat-header {
    display: flex;
}

.groupchat-name {
    padding: 0 20px;
}

.groupchat-name:first-letter {
    text-transform: uppercase;
}

group-chat-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .group-chat-list {
    flex: 0 0 30%;
    max-width: 30%;
    border-right: 1px solid #ccc;
    padding-right: 20px;
  }
  
  .group-chat-list h2 {
    margin-bottom: 10px;
  }
  
  .group-chat-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .group-chat-list li {
    cursor: pointer;
    padding: 10px;
    margin-bottom: 10px;
    background-color: gray;
    border-radius: 5px;
  }
  
  .selected-chat {
    flex: 0 0 60%;
    max-width: 60%;
    padding-left: 20px;
  }
  
  .selected-chat h2 {
    margin-bottom: 10px;
  }
  
  .selected-chat ul {
    list-style-type: none;
    padding: 0;
  }
  
  .selected-chat li {
    margin-bottom: 10px;
  }
  
  .selected-chat p {
    font-style: italic;
    color: #888;
  }