/* header {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    background-color: #1a1a1a;

}

header ul {
    display: flex;
    gap: 1rem;
} */

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    background-color: #1a1a1a;
}

header h1 {
    margin: 15px 0;
}

header ul {
    display: flex;
    gap: 6rem;
    padding-left: 0;
}

header ul li {
    font-size: 20px;
}

a {
    cursor: pointer;
}

