.post {
    display: flex;
    flex-direction: column;
    /*border: 1px solid;*/
    border-radius: 0.6rem;
    padding: 0 1rem;
}

.post-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    /*border-bottom: 0.1rem solid; */
}

.post__avatar {
    border-radius: 100%;
    padding: 0.5rem;
}

.post__user-container {
    display: flex;
    flex-direction: column;
}

.post__display-name {
    margin: 0;
}

.post-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.widget-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 0.2rem;
}

.post-likes {
    display: flex;
    gap: 0.5rem;
}

.likes {
}

.separator {
    width: 100%;
    border-bottom: 1px solid #3C3C3C !important;
    margin: 1rem 0;
}


@keyframes pop {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.icon-wrapper {
    cursor: pointer;
    animation-fill-mode: forwards;
}

.icon-pop {
    animation: pop 0.4s ease;
}