
  #master-body {
    display: flex;
    margin: 15px;
    font-family: Arial, sans-serif;
    color: gold;
    
  }
  .main-header {
    background-color: #f0f0f0; 
    color: #000000; 
    font-family: Arial, sans-serif; 
    padding: 5px 10px;
    border: 1px solid #b0b0b0;
    border-radius: 10px;
    font-size: 45px;
    font-weight: normal;
    margin-bottom: 0px;
  }
  .sub-header {
    background-color: #f0f0f0; 
    color: #000000; 
    font-family: Arial, sans-serif; 
    padding: 5px 10px;
    border: 1px solid #b0b0b0;
    border-radius: 10px;
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 0px;
  }
  input {
    margin-top: 10px;
  }

  #left-side {
    width: 40%; 
    padding: 10px; 
    background-color: gold;
    color: black;
  }

  #right-side {
    width: 60%; 
    padding: 10px;
    background-color: black;
  } 
